   body {
     display: flex;
     align-items: center;
     justify-content: center;
   }

   form {
     margin-top: 100px;
     width: 500px;
   }

   input[type="text"],
   input[type="tel"],
   input[type="number"] {
     margin-top: 20px;
   }

   h2 {
     text-align: center;
   }